.action-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    position: relative;
    align-self: center;
    padding-right: 50px;
    padding-left: 30px;
  }

  &__item-link {
    text-decoration: none;
    color: $black;

    &:hover,
    &:focus {
      color: $gray;
      transition: color 200ms ease-in-out;
    }

    &::before {
      position: absolute;
      content: "";
      top: -20px;
      right: 0;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: $red;
    }

    &:hover::before,
    &:focus::before {
      box-shadow: 0 0 2px 2px $red;
      transition: box-shadow 200ms ease-in-out;
    }

    &--status::before {
      background-image: url("../img/icon-status.svg");
      background-size: 17px;
    }

    &--order::before {
      background-image: url("../img/icon-order.svg");
      background-size: 20px;
    }
  }

  &__item-text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .action-menu {
    min-width: $tablet-width;

    &__item {
      display: inline-flex;
      justify-content: flex-start;
      align-items: stretch;
    }

    &__item-link {
      &::before {
        top: -8px;
      }
    }

    &__item-text {
      display: inline-block;

      color: inherit;
      font-family: $medium;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
