.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-menu__item {
  font-family: $medium;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
  border: 2px solid transparent;
  border-radius: 6px;
  &--active,
  &:active {
    background-color: white;

    border: 2px solid $cyan;
  }

  &:hover {

    background-color: white;
    animation: hover 0.2s ease-out;
  }

}

.nav-menu__item-link {
  padding: 8px 12px;
  text-decoration: none;
  color: inherit;
  display: block;
}


@keyframes hover {
  from {background-color: transparent;}

  to {background-color: white;}
  }
