.nav-menu {
  list-style: none;
  padding: 0;

  &__item {
    font-family: $medium;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  &__item-link {
    position: relative;
    padding: 12px 12px;
    text-decoration: none;
    color: inherit;
    display: block;
    border-left: 4px solid transparent;

    &:hover,
    &:focus {
      color: $gray;
      transition: color 0.2s ease-out;
    }

    &--active,
    &:active {
      color: $gray;
    }

    &--active::after,
    &:active::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 32px;
      top: 8px;
      left: -8px;
      border-radius: 4px;

      background-color: $green-cyan;
    }
  }
}
