.unroll {
  display: inline-block;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  text-align: left;
  font-family: $TTLakes;
  font-weight: 600;
  color: $black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: $gray;
    animation: color 0.1s ease-in;
  }

  &::before {
    left: -20px;
    top: 2px;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 2px solid $cyan;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }

  &::after {
    left: -20px;
    top: 8px;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 2px solid $cyan;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }
}
