$bold: "TTLakes-Bold", "Arial", sans-serif;
$medium: "TTLakes-Medium", "Arial", sans-serif;
$regular: "TTLakes-Regular", "Arial", sans-serif;

$black: #1b1c21;
$gray: #7e7e82;
$cyan: #b8ffec;
$green-cyan: #41f6d7;

$red: #ff3e79;
$background: #f8f8f8;

$tablet-width: 768px;
$desktop-width: 1440px;
